# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
MANIFEST
dist/
build/
*.spec

# Vim swapfiles
*.swp

# Test files
data/test.py
labware.ini

# OSX files
.DS_Store
